table {
  width: 95%;
  margin: 0 auto;
}

.container {
  padding-top: 3rem;
  position: relative;
}

.vertical-center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.example-button-container{
  position:absolute;
        bottom:0;
        right:0;
}
